/* Styling font Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../font/transfonter.org-20221022-142622/Poppins-Bold.woff2")
      format("woff2"),
    url("../font/transfonter.org-20221022-142622/Poppins-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/transfonter.org-20221022-142622/Poppins-Regular.woff2")
      format("woff2"),
    url("../font/transfonter.org-20221022-142622/Poppins-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/transfonter.org-20221022-142622/Poppins-Medium.woff2")
      format("woff2"),
    url("../font/transfonter.org-20221022-142622/Poppins-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Styling font Poppins */
:root {
  --main-bg-color: #fff;
  --main-title-color: #22343d;
  --main-text-color: #22343d;
  --main-accordion-color: #fff;
  --standartLogo: url("../images/built-bg.png");
  --main-enterprise-bg: #fff;
  --main-hr-color: #e7e7e7;
}

.dark {
  --main-bg-color: #1f2e35;
  --main-title-color: #fff;
  --main-text-color: #fff;
  --main-enterprise-bg: #22343d;
  --main-accordion-color: #1f2e35;
  --main-hr-color: #474747;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "Poppins", sans-serif;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header */
.header {
  margin-top: 25px;
}

.mode {
  position: fixed;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing__border {
  border-bottom: 4px solid #02897a;
}

.sitenav__list {
  display: flex;
}

.sitenav__list li {
  list-style: none;
}

.sitenav__list a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-text-color);
  margin-right: 40px;
}

.sitenav__buttons a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
  text-decoration: none;
  padding: 12px 29px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  margin-left: 25px;
}

.sitenav__buttons a:nth-child(1) {
  color: var(--main-text-color);
}

.sitenav__buttons a:nth-child(2) {
  background: #02897a;
  border-radius: 4px;
  color: #fff;
}

.sitenav__buttons img {
  margin-left: 25px;
  cursor: pointer;
}

.sitenav__buttons img:hover {
  transform: scale(1.5);
  opacity: 0.8;
}

.sitenav__buttons img:active {
  background-color: darkcyan;
  border-radius: 50%;
}

/* Header */

/* Pricing table */
.pricing__title {
  text-align: center;
  margin-bottom: 50px;
}

.pricing__title h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: var(--main-title-color);
  margin: 0;
  padding-top: 50px;
}

.pricing__title h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: var(--main-title-color);
  margin: 0;
}

.pricing__title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--main-text-color);
}

.pricing__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.pricing__box {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 25px 75px 25px 75px;
}

.pricing__box strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}

.pricing__box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #22343d;
}

.pricing__box .pricing__moneyspan,
sup {
  font-weight: 700;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897a;
}

.pricing__box .pricing__moneyspan ~ span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.pricing__box ul {
  margin: 0;
  padding: 0;
}

.pricing__box li {
  list-style: none;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343d;
}

.pricing__box a {
  display: inline-block;
  background: #02897a;
  border-radius: 8px;
  margin-top: 35px;
  font-weight: 500;
  padding: 11px 19px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

/* When the box hovers */
.pricing__box:hover {
  background: #02897a;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.pricing__box:hover strong {
  color: #fff;
}

.pricing__box:hover p {
  color: #fff;
}

.pricing__box:hover span {
  color: #e0e0e0;
}

.pricing__box:hover li {
  color: #fff;
}

.pricing__box:hover sup {
  color: #fff;
}

.pricing__box:hover a {
  background-color: #fff;
  color: #000;
}
/* When the box hovers */

/* Pricing table */

/* Enterprise */
.enterprise {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--main-enterprise-bg);
}

.enterprise__title {
  padding: 40px 40px;
}

.enterprise__title strong {
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: var(--main-text-color);
}

.enterprise__title h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: var(--main-title-color);
}

.enterprise__title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--main-text-color);
}

.enterprise__title a {
  display: inline-block;
  background: #02897a;
  border-radius: 8px;
  /* margin-top: 35px; */
  font-weight: 500;
  padding: 11px 19px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
/* Enterprise */

/* Product effect */
.product-effect h1 {
  padding-top: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: var(--main-title-color);
}

.product__wrapper {
  display: flex;
}

.product-side__title {
  margin-left: 50px;
  width: 541px;
}

.product__header {
  position: relative;
}

.product__wrapper {
  margin-top: 100px;
}

.product__wrapper img {
  object-fit: contain;
}

.product__header h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: var(--main-title-color);
  margin-left: 70px;
}

.product-side__title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--main-text-color);
}

.product__header--section1 h2::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/product-entrepreneur.svg");
  display: inline-block;
  background-size: 100%;
  position: absolute;
  left: 0;
}

.product__header--section2 h2::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/product-accounting.svg");
  display: inline-block;
  background-size: 100%;
  position: absolute;
  left: 0;
}

.product__header--section3 h2::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/product-universities.svg");
  display: inline-block;
  background-size: 100%;
  position: absolute;
  left: 0;
}

/* Product effect */

/* Frequently asked questions */
.question {
  margin-top: 150px;
}

.question__title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: var(--main-title-color);
}

.question__title p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--main-text-color);
}

.faq {
  margin-top: 40px;
}

.faq__wrapper {
  padding-bottom: 10px;
  margin: 0;
}

.faq__wrapper .faq__title {
  display: inline;
  margin-left: 10px;
}

.faq__wrapper .faq__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: var(--main-text-color);
  cursor: pointer;
}

.faq hr {
  margin-top: 30px;
  border: 0.1px solid var(--main-hr-color);
}

.faq__wrapper .faq__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--main-text-color);
}

.faq__wrapper input[type="checkbox"] {
  appearance: none;
}

.faq__wrapper span::before {
  content: "+";
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background: #02897a;
  color: var(--main-accordion-color);
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
}

.faq__wrapper input:checked ~ span::before {
  content: "-";
}

.faq__wrapper input:checked ~ .mode__toogle {
  display: block;
}

.mode__toogle {
  display: none;
}
/* Frequently asked questions */

/* Joining company */
/* Join company */
.joining__company {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 900px;
  margin: 0 auto;
}

.joining__wrapper {
  background: #02897a;
  border-radius: 32px;
  display: block;
  margin: 0 auto;
}
.joining__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joining__upper {
  width: 510px;
  padding: 0 0 0 51px;
}

.joining__upper h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
}

.joining__upper a {
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  padding: 11px 30px;
  font-size: 16px;
  line-height: 22px;
  color: #02897a;
  text-decoration: none;
}

/* Join company */
/* Joining company */

/* Footer */
.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__icons a {
  text-decoration: none;
}

.footer__icons ul {
  margin: 0;
  padding: 0;
}

.footer-box {
  margin-bottom: 18px;
}

.footer__icons li {
  display: inline;
  margin-right: 10px;
}

.footer__columns strong {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
  display: inline-block;
  color: var(--main-text-color);
}

.footer__box--second,
.footer__box--third,
ul {
  margin: 0;
  padding: 0;
}

.footer__box a {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 2px;
  display: inline-block;
  line-height: 35px;
  text-decoration: none;
  color: var(--main-text-color);
}

.footer__box a:hover {
  text-decoration: underline;
}

.footer__box--second,
.footer__box--second,
li {
  list-style: none;
}

.footer__box--fourth {
  width: 325px;
}

.footer__box--fourth form input {
  display: block;
  margin-bottom: 21px;
  width: 255px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  outline: none;
}

.footer__box--fourth form button {
  background-color: #02897a;
  border-radius: 8px;
  font-weight: 500;
  padding: 11px 30px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__box--fourth form input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.footer__reserved {
  margin: 50px 50px;
  text-align: center;
}

.footer__reserved small {
  color: var(--main-text-color);
}

/* Footer */
